table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 0;
}

th, td:first-of-type{
    padding: 8px;
}

.winner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.gold{
    background: #FFEB3B;
}

.silver{
    background: #9E9E9E;
}

.bronze{
    background: #FF9800;
}