.joke__form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: fit-content;
}

.joke__form label{
    margin-bottom: 10px;
}

.joke__categories{
    display: none;
}

.joke__categories.show{
    display: block;
}